.card {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  background-color: #b0b0b0;
  box-shadow: 0 8px 14px 0 rgba(0, 0, 1, 0.05);
  font-size: 14px;
  font-family: 'Solomon-Sans-Normal', sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  transition: padding $duration $easing;

  &_green {
    background-color: rgb(75, 176, 75);

    .card__icon svg,
    .card__arrow svg {
      fill: rgb(53, 148, 53);
    }
  }

  &_blue {
    background-color: rgb(90, 166, 209);

    .card__icon svg,
    .card__arrow svg {
      fill: rgb(22, 129, 190);
    }
  }

  &_orange {
    background-color: rgb(247, 162, 46);

    .card__icon svg,
    .card__arrow svg {
      fill: rgb(214, 132, 21);
    }
  }

  &_pink {
    background-color: rgb(226, 71, 148);

    .card__icon svg,
    .card__arrow svg {
      fill: rgb(202, 39, 120);
    }
  }

  &_red {
    background-color: rgb(254, 69, 53);

    .card__icon svg,
    .card__arrow svg {
      fill: rgb(205, 39, 25);
    }
  }

  dl {

    dt {
      display: block;
      padding: 0 15px 0 10px;
      font-size: 15px;
      font-family: 'Solomon-Sans-Black', sans-serif;
    }

    dd {
      display: none;
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);

    svg {
      width: 15px;
      height: 27px;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 40px;
    transition: all $duration $easing;

    svg {
      width: 35px;
      height: 35px;
      fill: #fff;
    }
  }

  &__label {
    display: none;
  }
}
@media (min-width: $phone-landscape) {
  .card {

  }
}
@media (min-width: $tablet-portrait) {
  .card {
    display: block;
    height: 280px;
    padding: 70px 20px 20px;

    dl {

      dt {
        padding: 0;
        margin-bottom: 15px;
      }

      dd {
        display: block;
      }
    }

    &__icon {
      align-items: flex-end;
      justify-content: flex-start;
      height: 61px;
      margin-bottom: 20px;

      svg {
        max-height: 61px;
        width: auto;
        height: auto;
      }
    }

    &__arrow {
      display: none;
    }

    &__label {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 14px;
      font-family: 'Solomon-Sans-Bold', sans-serif;
      color: rgb(254, 204, 53);
      line-height: 1.2;

      svg {
        width: 25px;
        height: 25px;
        fill: rgb(254, 204, 53);
      }
    }

    &__preview {
      overflow: hidden;
      height: 48px;
      transition: all $duration $easing;
    }

    &__description {
      overflow: hidden;
      max-height: 140px;
      opacity: 0;
      visibility: hidden;
      transition: all $duration $easing;
    }
  }
  a.card:hover {
    padding-top: 40px;

    .card__icon {
      opacity: 0;
      visibility: hidden;
      height: 0;
    }

    .card__preview {
      opacity: 0;
      visibility: hidden;
      height: 0;
    }

    .card__description {
      opacity: 1;
      visibility: visible;
    }
  }
}
@media (min-width: $tablet-landscape) {
  .card {

  }
}
@media (min-width: $desktop) {
  .card {

  }
}

