.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  z-index: 5;
  padding: 0 75px;
  background-color: rgb(255, 255, 255);

  .sidebar {
    display: block;
  }

  &.active {

    .header__layout {
      transform: translate(0,0);
    }

    .header__btn {

      span {
        background: transparent;
      }
      &:before {
        top: calc(50% - 2px);
        transform: rotate(45deg);
      }
      &:after {
        bottom: calc(50% - 2px);
        transform: rotate(-45deg);
      }
    }
  }

  &__layout {
    overflow: scroll;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 65px);
    z-index: 5;
    padding: 20px;
    background-color: #fff;
    transform: translate(100%, 0);
    transition: transform $duration $easing;

    .icon-link,
    .social {
      display: none;
    }

    .icon-link_favorite {
      display: flex;
      font-size: 14px;
    }

    .search {
      margin: 0 0 20px;
    }
  }

  &__btn {
    overflow: hidden;
    position: absolute;
    top: 50%;
    right: 10px;
    width: 35px;
    height: 25px;
    transform: translate(0,-50%);

    &:hover {

      span {
        width: 100%;
      }
    }

    span {
      position: absolute;
      top: 50%;
      right: 0;
      width: calc(100% - 9px);
      height: 4px;
      transform: translate(0,-50%);
      background-color: rgb(33,33,33);
      transition: width $duration $easing, background $duration $easing;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: rgb(33,33,33);
      content: '';
      transition: transform $duration $easing;
    }

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: rgb(33,33,33);
      content: '';
      transition: transform $duration $easing;
    }
  }
}
@media (min-width: $phone-landscape) {
  .header {

  }
}
@media (min-width: $tablet-portrait) {
  .header {
    height: 90px;
    padding: 0;
    margin-bottom: 2px;

    .sidebar,
    > .icon-link {
      display: none;
    }

    &__layout {
      overflow: visible;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      width: calc(100% - 110px);
      height: auto;
      top: 0;
      left: auto;
      padding: 10px 25px;
      transform: none;
      transition: none;

      .icon-link,
      .social {
        display: flex;
        margin-right: 15px;
      }

      .icon-link_favorite {
        font-size: inherit;
      }

      .user,
      .sign {
        order: 1;
      }

      .search {
        position: relative;
        bottom: auto;
        right: auto;
        left: auto;
        margin-right: 15px;
      }
    }

    &__btn {
      display: none;
    }
  }
}
@media (min-width: $tablet-landscape) {
  .header {

  }
}
@media (min-width: $desktop) {
  .header {

  }
}

