.preview-list {

  &__item {
    display: flex;
    margin: 12px 0;
  }

  &__pic {
    width: 50px;
    margin-right: 10px;

    img {
      display: block;
      max-width: 100%;
    }
  }

  &__pic + .preview-list__info {
    width: calc(100% - 60px);
  }

  &__info {
    width: 100%;
    font-size: 15px;
    font-family: 'Solomon-Sans-Normal', sans-serif;
    color: rgb(33, 33, 33);
    line-height: 1.2;

    p {
      text-decoration: underline;
    }

    time {
      font-size: 10px;
      color: rgb(158, 158, 158);
    }
  }

  &__more {
    display: flex;
    justify-content: flex-end;

    a,
    a:visited {
      font-size: 10px;
      font-family: 'Solomon-Sans-Normal', sans-serif;
      color: rgb(183, 183, 183);
      text-decoration: underline;
      line-height: 1.2;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
@media (min-width: $phone-landscape) {
  .preview-list {

  }
}
@media (min-width: $tablet-portrait) {
  .preview-list {

  }
}
@media (min-width: $tablet-landscape) {
  .preview-list {

    &__info {
      font-size: 16px;

      p {
        text-decoration: none;
      }

      time {
        font-size: 13px;
      }
    }

    &__more {

      a {
        font-size: 14px;
      }
    }
  }
}
@media (min-width: $desktop) {
  .preview-list {

  }
}

