.search-path {
  padding: 10px;
  margin-bottom: 24px;
  border-radius: 5px;
  background-color: rgb(80, 164, 212);
  color: rgb(254, 254, 254);
  box-shadow: 0 8px 14px 0 rgba(0, 0, 1, 0.05);
  flex: 1 0 auto;

  p {
    margin-bottom: 15px;
    line-height: 1.714;
    font-size: 14px;
  }

  &__link {
    line-height: 1.714;
    font-size: 14px;
    color: rgb(254, 254, 254);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  &.search-path_tab {
    padding-top: 0;
  }

  &__title {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Solomon-Sans-Bold', sans-serif;
    color: rgb(254, 254, 254);

    h1 {
      margin-right: 5px;
    }
  }

  h3 {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
    font-family: 'Solomon-Sans-Normal', sans-serif;
    color: rgb(254, 254, 254);
  }

  time {
    color: #fecc35;
  }

  &__prefer {
    padding: 10px 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.714;
    color: rgb(255,255,255);

    dl {
      margin-bottom: 15px;

      dt {
        margin-bottom: 5px;
      }

      dd {

      }
    }

    .nice-toggle {

      label {
        font-size: 14px;
      }
    }
  }

  &__footer {

    .icon-link {
      color: rgb(255,255,255);
    }
  }
}
@media (min-width: $phone-landscape) {
  .search-path {

  }
}
@media (min-width: $tablet-portrait) {
  .search-path {
    padding: 20px;

    h2,
    &__title {
      margin-bottom: 38px;
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 15px;

      &.left {
        justify-content: flex-start;
        padding-top: 0;

        .icon-link {
          margin-right: 20px;
        }
      }
    }
  }
}
@media (min-width: $tablet-landscape) {
  .search-path {

  }
}
@media (min-width: $desktop) {
  .search-path {

    &__prefer {
      display: flex;
      justify-content: space-between;

      dl {
        width: calc(50% - 5px);
        margin-bottom: 0;

        dt {
          margin-bottom: 15px;
        }

        dd {

        }
      }
    }
  }
}
