.time-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  time {
    margin: 0 10px 0 0;

    &:last-child {
      margin-right: 0;
    }
  }
}
@media (min-width: $phone-landscape) {
  .time-list {

  }
}
@media (min-width: $tablet-portrait) {
  .time-list {

  }
}
@media (min-width: $tablet-landscape) {
  .time-list {

    time {
      margin: 0 20px 0 0;
    }
  }
}
@media (min-width: $desktop) {
  .time-list {

  }
}

