.user {
  position: relative;
  display: inline-flex;
  padding-right: 60px;
  font-size: 16px;
  color: rgb(154, 154, 154);
  line-height: 0.813;
  font-family: 'Solomon-Sans-Normal', sans-serif;

  a,
  a:visited {
    color: rgb(154, 154, 154);
  }

  span {
    color: rgb(0, 0, 0);
    transition: color $duration $easing;
  }

  &__icon {
    overflow: hidden;
    position: absolute;
    top: 50%;
    right: 0;
    width: 50px;
    height: 50px;
    transform: translate(0, -50%);
    border-radius: 50%;
    transition: opacity $duration $easing;

    img {
      display: block;
      width: 100%;
    }
  }

  &:hover {

    span {
      color: #fe4535;
    }

    .user__icon {
      opacity: .8;
    }
  }
}

.user-popup {
  position: fixed;
  top: 60px;
  left: 20px;
  z-index: 5;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 8px 14px 0 rgba(0, 0, 1, 0.05);
  text-align: center;
  border: 1px solid #e7e7e7;
  opacity: 0;
  visibility: hidden;
  transition: opacity $duration $easing, visibility $duration $easing;

  li {
    padding: 15px;
  }

  &.open {
    opacity: 1;
    visibility: visible;
  }
}

@media (min-width: $phone-landscape) {
  .user {

  }
}
@media (min-width: $tablet-portrait) {
  .user {

  }

  .user-popup {
    top: 80px;
    right: 25px;
    left: auto;
  }
}
@media (min-width: $tablet-landscape) {
  .user {

  }
}
@media (min-width: $desktop) {
  .user {

  }
}

